body{
    margin: 0px;    
}

p{
    font-size: 20px;
    color: rgb(114, 108, 108);
}

section{
    padding-bottom: 80px;
    height: 700px;
}
.header{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
}
.biography{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
}
.laset-work{
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
}


.intro{
    font-family: sans-serif;
    float: left;
    width: 30%;
    margin: 5%;
    padding: 5%;
}
.intro img{
    width: 100%;
}
 .highlight{
    color:#EC4C7A;
    font-size: 80px;
}
h1{
font-size: 40px;

}
.hire{
   background-image: linear-gradient(65deg,#EC4C7A,rgb(219, 89, 180));
    color: white;
    padding:20px 40px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
}

.works{
    box-sizing: inherit;
    width: 50%
   
}

.images{
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
    float: left;
    width: 20%;
}
