body{
    margin: 0px;    
}

p{
    font-size: 20px;
    color: rgb(114, 108, 108);
}

section{
    padding-bottom: 80px;
    height: 700px;
}
.header{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
}
.biography{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
}
.latest-work{
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
}
.footer{
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
}



.intro{
    font-family: sans-serif;
    float: left;
    width: 30%;
    margin: 5%;
    padding: 5%;
}
.intro img{
    width: 100%;
}
 .highlight{
    color:#EC4C7A;
    font-size: 80px;
}
h1{
font-size: 40px;

}
.hire{
   background-image: linear-gradient(65deg,#EC4C7A,rgb(219, 89, 180));
    color: white;
    padding:20px 40px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
}

.works{
    width: 100%;
    display: flex;
    justify-content: center;
   
}

.works .images img{
   width: 100%;
   padding: 0px 20px;
}
.bruce-moccy{
    text-align: center;
}
.ceo {
    font-size: 11px;
    color:grey;
}
.message{
    text-decoration: none;
    background-image: linear-gradient(65deg,#EC4C7A,rgb(219, 89, 180));
    color: white;
    padding:20px 40px;
    border-width: 50px;
    font-size: 30px;
    border-radius: 5px;
    
}
